<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello world!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <p>Hello earth habitants!</p>
        <div>
        Hello moon habitants!
        </div>
        <div class="fancy">Fancy!</div>
        <div class="munoma">Oma blokki</div>
        <div class="fancy munoma">
        <ol>
            <li>Yy</li>
            <li>Kaa</li>
            <li>Koo</li>
        </ol>
        </div>
        <p id="thing">The Thing</p>
        <input type="color" class="nice">
        <input type="text" placeholder="Enter your name">
        <input type="date">
        <input type="datetime">
        <input type="time">
        <script src="/controllers/scripts.js"></script>
    </body>
</html>